*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: inherit;
    text-decoration: inherit;
    line-height: inherit;
    color: inherit;
}
html, body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #eceff4;
    background-color: #2e3440;
}
body{
    text-align: center;
}
h1{
    font-size: 36px;
    line-height: 50px;
    font-weight: bold;
    color: #eceff4;
}
h2{
    color: #e5e9f0;
}
h1 sub{
    color: #e5e9f0;
    font-size: 30px;
    vertical-align: baseline;
}
img{
    border-radius: 50%;
}
.hero{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.submenu{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 1000px;
    height: 340px;
    background-color: #4c566a;
    margin: auto;
}


.projects-flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 1000px;
    height: auto;
    background-color: #8FBCBB;
    margin: auto;

}
.projects{
    height: 300px;
    width: 260px;
    margin: 20px;
    padding: 10px;
    background-color: #4c566a;
}
